/* =================================
Responsive Profiles - KMMB
------------------------------
Fonts: Alegreya 400,500,700,800 
& Lato 300,300i,400,400i,700
------------------------------
Colours: 
	PANTONE 2768: 	   #071D49 
	/      		RGBA(7,29,73,1)
	PANTONE 199:       #D50032
	/      	   RGBA(213,0,50,1)
    White:              #fff
	/    rgba(255, 255, 255, 1)
    Black:              #000
	/    	   rgba(0, 0, 0, 1)
================================= */


/* =================================
Mobile Navigation Menu
================================= */

#mobile-nav-open-btn {

	font-size: 30px;
	color: #071D49;
	cursor: pointer;
	z-index: 2;
	position: absolute;
	right: 20px;
	top: 20px;

	/* Hide Mobile Nav Button */
	display: none;
}

#mobile-nav {

	/* Mobile nav will be hidden with height 0%, by default */
	height: 0%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	background-color: rgba(255, 255, 255, .9);
	transition: all 300ms linear;
	overflow-y: hidden;

	/*Hide Mobile Nav Menu */

	display: none;
}

#mobile-nav-close-btn {

	font-family: "Lato", sans-serif;
	font-size: 60px;
	color: #071D49;
	font-weight: 400;
	cursor: pointer;
	position: absolute;
	top: 20px;
	right: 18px;
	-webkit-transition: .3s;
	transition: .3s;

}

#mobile-nav-content {

	text-align: center;
	width: 100%;
	margin-top: 20vh;
	position: relative;
	top: 10%;

}

#mobile-nav ul li {

	margin-bottom: 10vh;

}

#mobile-nav a {
	font-family: "Lato", sans-serif;
	font-size: 26px;
	color: #071D49;
	font-weight: 400;
	text-transform: uppercase;
	display: inline;
	-webkit-transition: .3s;
	transition: .3s;

}

#mobile-nav a:hover,
#mobile-nav a:focus {

	color: #D50032;
	background: none;
}


#mobile-nav-close-btn:hover,
#mobile-nav-close-btn:focus {
	color: #D50032;
	background: none;

}

/* =================================
Media Queries
================================= */
/* Heading - Sustainable Returns - Mobile Screens less than 836 */

/* 1. Extra Small Devices (Portrait Phones) */
@media (max-width: 360px) {
	#heading-container {

		text-align: center;
		position: absolute;
		top: 9%;

	}

	.home-heading {
		font-size: calc(20px + (12) * ((100vw - 300px)/(3000 - 300)));
		line-height: calc(20px + (12) * ((100vw - 300px)/(3000 - 300)));
	}
}

/* 2. Extra Small Devices (Portrait and Landscape Phones) */
@media (min-width: 361px) and (max-width: 511px) {
	#heading-container {
		text-align: center;
		position: absolute;
		top: 10%;

	}

	.home-heading {
		font-size: calc(21px + (12) * ((100vw - 300px)/(3000 - 300)));
		line-height: calc(21px + (12) * ((100vw - 300px)/(3000 - 300)));
	}

}

/* 3. Extra Small Devices (Portrait Tablets and Landscape Phones) */
@media (min-width: 512px) and (max-width: 548px) {
	#heading-container {
		text-align: center;
		position: absolute;
		top: 10%;

	}

	.home-heading {
		font-size: calc(21px + (12) * ((100vw - 300px)/(3000 - 300)));
		line-height: calc(21px + (12) * ((100vw - 300px)/(3000 - 300)));
	}

	#heading-1 {
		display: none;
	}

	#heading-2 {
		display: inline;
	}

}

/* 3. Extra Small Devices (Portrait Tablets and Landscape Phones) */
@media (min-width: 549px) and (max-width: 836px) {
	#heading-container {
		text-align: center;
		position: absolute;
		top: 10%;

	}

	#heading-1 {
		display: none;
	}

	#heading-2 {
		display: inline;
		left: 30vw;
	}
	
	

}

/* 4. Extra Small Devices (Portrait Tablets and Landscape Phones) */
@media (min-width: 690px) and (max-width: 836px) {
	#heading-container {
		text-align: center;
		position: absolute;
		top: 10%;

	}

	#heading-1 {
		display: none;
	}

	#heading-2 {
		display: inline;
		left: 32vw;
	}
	
	

}
/* 5. Extra Small Devices (Portrait Tablets and Landscape Phones) */
@media (min-width: 837px) and (max-width: 848px) {
	
	#heading-container {
		text-align: center;
		position: absolute;
		top: 10%;

	}

	#heading-1 {
		display: none;
	}

	#heading-2 {
		display: inline;
		left: 33vw;
	}
	
}


/* 1. Extra Small Devices (Landscape Phones & Portrait Tablets) */
@media (max-width: 575px) {

	/* Navigation */

	#mobile-nav-open-btn {

		display: block;
	}

	#mobile-nav {

		display: block;
	}




}


/* 2. Small Devices (Portrait Tablets & Small Desktops and Laptops) */

@media (min-width: 576px) and (max-width: 767px) {

	/* Navigation */

	#mobile-nav-open-btn {

		display: block;
	}

	#mobile-nav {

		display: block;
	}




}

/* 3. Medium Devices (Landscape Tablets & Small Desktops and Laptops) */

@media (min-width: 768px) and (max-width: 991px) {

	/* Navbar Brand Heading */


}

@media (min-width: 1076px) {}


/* 4. Large Devices (Medium Desktops & Laptops) */
@media (min-width: 992px) and (max-width: 1199px) {}


/* 5. Large Devices 1200 (Large Desktops & Laptops) */

@media (min-width: 1200px) and (max-width: 1279px) {}

/* Header Breakpoint. Large Devices 1200 (Large Desktops & Laptops) */
@media (max-width: 1260px) {

	#navbar-full-text {

		display: none;
	}

	#navbar-short-text {

		display: inline-block;
	}
}

/* 6. Large Devices 1280 (Wide Screens M) */

@media (min-width: 1280px) and (max-width: 1359px) {}


/* 7. Large Devices 1366 (Wide Screens L) */

@media (min-width: 1366px) and (max-width: 1439px) {}

/* 8. Large Devices 1440 (Wide Screens XL) */

@media (min-width: 1440px) and (max-width: 1599px) {}

/* 9. Extra Wide Screens 1600  */

@media (min-width: 1600px) and (max-width: 1679px) {}

/* 10. Extra Wide Screens 1680  */

@media (min-width: 1680px) and (max-width: 1919px) {}

/* 11. Extra Wide Screens 1920  */

@media (min-width: 1920px) and (max-width: 2559px) {}

/* 12. Extra Wide Screens 2560  */

@media (min-width: 2560px) {}