/* =================================
Responsive Themes - KMMB
------------------------------
Fonts: Alegreya 400,500,700,800 
& Lato 300,300i,400,400i,700
------------------------------
Colours: 
	PANTONE 2768: 	   #071D49 
	/      		RGBA(7,29,73,1)
	PANTONE 199:       #D50032
	/      	   RGBA(213,0,50,1)
    White:              #fff
	/    rgba(255, 255, 255, 1)
    Black:              #000
	/    	   rgba(0, 0, 0, 1)
================================= */


/* Extra Small Devices (Landscape Phones & Portrait Tablets) */
@media (max-width: 575px) {
	
/* Navbar Brand Heading */
	
	#logoborder {
		
		content: url("../img/logo/navlogo-round-white-60.png")
		
	}
	#navlogo-img {
		
		
		max-height: 10vh;
		
		
	}
	
	#chairman-message {
	
	border-right: 1px solid #fff;
	
}
	
	/* Navbar Brand Heading */
}

/* Small Devices (Portrait Tablets & Small Desktops and Laptops) */

@media (min-width: 576px) and (max-width: 767px) {
	
	#logoborder {
		
		content: url("../img/logo/navlogo-round-white-60.png")
		
	}
	#navlogo-img {
		
		
		max-height: 10vh;
		
		
	}
	
}

/* Medium Devices (Landscape Tablets & Small Desktops and Laptops) */

@media (min-width: 768px) and (max-width: 991px) {
	
	#logoborder {
		
		content: url("../img/logo/navlogo-round-white-120.png")
		
	}
	#navlogo-img {
		
		
		max-height: 10vh;
		
		
	}
	
	
}

/* Large Devices (Medium Desktops & Laptops) */
@media (min-width: 992px) and (max-width: 1199px) {
	
	
}
	

/* X-Large Devices (Large Desktops & Laptops) */

@media (min-width: 1200px) and (max-width: 1399px){

}

/* XX-Large Devices (Wide Screens) */

@media (min-width: 1400px) and (max-width: 1599px){

}


/* XXX-Large Devices (Wide Screens) */

@media (min-width: 1600px) and (max-width: 2000px){

}

/* XXXX-Large Devices (Wide Screens) */

@media (min-width: 2000px) {

}

